@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #27323E;
}

.border-gradient {
  border-image: linear-gradient(135deg, #FC4A1A, #F7B733) 1;
}

.placeholder-text-gradient::placeholder {
  background-image: linear-gradient(to right, #ff0000, #00ff00);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}

.text-gradient {
  background-image: linear-gradient(to right, #ff0000, #00ff00);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}
.hover\:text-gradient:hover {
  background-image: linear-gradient(to right, #00ff00, #ff0000);
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}